# Dependências
app/node_modules/
app/coverage/

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/*.tfvars
infra/.terraform.lock.hcl

# Ansible
config/*.retry
config/inventory/hosts.yml

# Sistema
.DS_Store
*.log
*.tmp
.env
